{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<section id="two">
    <div class="inner">
        <header class="major">
            <h1>¡HOLA, JUGADOR/A!</h1>
        </header>
        <div class="content">
            <a href="/juegos"><img src="/static/images/MSX.png" alt="Logo"/></a>
            <p>En teoría de juegos, un juego de información perfecta es aquel en que los jugadores conocen todo lo que podrían desear conocer acerca de lo que ha sucedido desde el principio del juego cuando tienen que realizar un movimiento hasta el momento. Aquí, en esta maravillosa web encontrarás una infinidad de juegos con los que comenzar grandes aventuras y ser lo que cualquier jugador desea... LA VICTORIA!!</p>
        </div>
    </div>
</section>
{% endblock %}